<nav>
  <ul>
    <li>{{#linkTo "bracket"}}Bracket{{/linkTo}}</li>
    <li>{{#linkTo "leaderboard.you"}}Leaderboard{{/linkTo}}</li>
    <li>{{#linkTo "leaderboard.friends"}}Friends{{/linkTo}}</li>
    <li>{{#linkTo "prizes"}}Prizes{{/linkTo}}</li>
  </ul>
</nav>

<div id="right">
  <section id="restaurant">
    <a href="www.google.com" target="_blank">Restaurant Logo</a>
  </section>

  <section id="info">
    Info
  </section>
</div>

<div class="clearboth"></div>