<h2>{{title}}</h2>
<ul>
  <li>{{#linkTo "index"}}Home{{/linkTo}}</li>
  <li>{{#linkTo "bracket"}}Bracket{{/linkTo}}</li>
  <li>{{#linkTo "leaderboard.you"}}Leaderboard{{/linkTo}}</li>
  <li>{{#linkTo "leaderboard.friends"}}Friends{{/linkTo}}</li>
  <li>{{#linkTo "prizes"}}Prizes{{/linkTo}}</li>
</ul>