<header xmlns="http://www.w3.org/1999/html">
  <img id="logo" src="/assets/raw_logos/tav_logo.png" />
  <h1>BRACKET CHALLENGE</h1>
</header>

<nav>
  <ul>
    <li class="link" id="leaderboard_link">{{#linkTo "leaderboard.you"}}STANDINGS{{/linkTo}}</li>
    <li class="link" id="bracket_link">{{#linkTo "bracket" currentUser.bracket}}BRACKET{{/linkTo}}</li>
    <li class="link" id="prizes_link">{{#linkTo "prizes"}}PRIZES{{/linkTo}}</li>
  </ul>
</nav>

<div id="news">
  <section id="head">
    <h2>NEWS</h2>
  </section>
  <section id="info">
    {{ currentUser.id }}<br/><br/>
    {{ currentUser.name }}<br/><br/>
    {{ currentUser.email }}<br/><br/>
    Bracket ID: {{ currentUser.bracket.id }}
  </section>
</div>

<div class="clearboth"></div>
