<header>
  <h1>{{upcase model.restaurant.name}}</h1>
  <h2>BRACKET CHALLENGE</h2>
</header>

<nav>
  <ul>
    <li class="link" id="bracket_link">{{#linkTo "bracket" currentUser.bracket}}BUILD YOUR BRACKET{{/linkTo}}</li>
    <br />
    {{#if isAdmin}}
      <li class="link" id="official_bracket_link">
        {{#if officialBracket}}
          {{#linkTo "bracket" controller.officialBracket}}OFFICIAL BRACKET{{/linkTo}}
        {{else}}
          <a href="#"></a>
        {{/if}}
      </li>
      <br/>
    {{/if}}
    <li class="link" id="leaderboard_link">{{#linkTo "leaderboard.you"}}STANDINGS{{/linkTo}}</li>
    <li class="link" id="prizes_link">{{#linkTo "prizes"}}PRIZES{{/linkTo}}</li>
  </ul>
</nav>

<div id="news">
  <h2>NEWS</h2>
  <p>
    <p>Brackets will be open from Sunday, March 17th through Wednesday, March 20th!</p>
  </p>
  {{view App.ShareView}}
</div>

<div class="clearboth"></div>
