{{view MarchMadness.NavigationView}}

<section id="rankings">
  <nav>
    <ul>
      <li>{{#linkTo "leaderboard.you"}}You{{/linkTo}}</li>
      <li>{{#linkTo "leaderboard.friends"}}Friends{{/linkTo}}</li>
      <li>{{#linkTo "leaderboard.top"}}Top 100{{/linkTo}}</li>
    </ul>
  </nav>
  <ul>
    <li>
      <span class="score">65</span>
      <div class="photo"></div>
      <span class="name">Courtland Allen</span>
      <div class="clearboth"></div>
    </li>
    <li>
      <span class="score">36</span>
      <div class="photo"></div>
      <span class="name">Channing Allen</span>
      <div class="clearboth"></div>
    </li>
    <li>
      <span class="score">34</span>
      <div class="photo"></div>
      <span class="name">Donald Lancaster</span>
      <div class="clearboth"></div>
    </li>
    <li>
      <span class="score">28</span>
      <div class="photo"></div>
      <span class="name">Cristian Derr</span>
      <div class="clearboth"></div>
    </li>
    <li>
      <span class="score">26</span>
      <div class="photo"></div>
      <span class="name">Lynne Tye</span>
      <div class="clearboth"></div>
    </li>
    <li>
      <span class="score">15</span>
      <div class="photo"></div>
      <span class="name">Philip Garcia</span>
      <div class="clearboth"></div>
    </li>
    <li>
      <span class="score">15</span>
      <div class="photo"></div>
      <span class="name">Adrian Adames</span>
      <div class="clearboth"></div>
    </li>
    <li>
      <span class="score">15</span>
      <div class="photo"></div>
      <span class="name">Aaron Rosado</span>
      <div class="clearboth"></div>
    </li>
  </ul>
</section>


<div id="right">
  <section id="restaurant">
    <a href="www.google.com" target="_blank">Restaurant Logo</a>
  </section>

  <section id="info">
    Info
  </section>
</div>

<div class="clearboth"></div>