<ul>
  <li>{{#linkTo "index"}}HOME{{/linkTo}}</li>
  <li>{{#linkTo "bracket" view.currentUser.bracket}}BRACKET{{/linkTo}}</li>
  <li {{bindAttr class="isActive:active"}}>{{#linkTo "leaderboard.you"}}STANDINGS{{/linkTo}}</li>
  <li>{{#linkTo "prizes"}}PRIZES{{/linkTo}}</li>
  <li>{{#linkTo "rules"}}RULES{{/linkTo}}</li>
</ul>