{{view App.NavigationView}}

<div id="prizes_list">
  <h2>CHANCE TO WIN</h2>
  <ul>
    <li><p>1. Party for you and five friends ($300 value)</p></li>
    <li><p>2. Dining rewards cards ($100 value)</p></li>
    <li><p>3. All expense paid trip to Las Vegas (perfect bracket)</p></li>
  </ul>
</div>