{{view App.NavigationView}}
<div id="rules_list" xmlns="http://www.w3.org/1999/html">
  <h1>2013 Tavistock Restaurants Bracket Challenge Rules</h1>
  <p><span class="bold">NO PURCHASE NECESSARY TO ENTER OR WIN. A PURCHASE WILL NOT IMPROVE YOUR CHANCES OF WINNING.</span>  THIS SWEEPSTAKES IS OPEN TO PERSONS WHO ARE: (A) REGISTERED USERS OF A TAVISTOCK RESTAURANTS BRACKET CHALLENGE FACEBOOK APPLICATION; (B) LEGAL RESIDENTS OF ONE (1) OF THE FIFTY (50) UNITED STATES; (C) AT LEAST EIGHTEEN (18) YEARS OLD OR AGE OF MAJORITY, WHICHEVER IS OLDER IN THEIR STATE OF RESIDENCE, AT THE DATE OF ENTRY IN THE SWEEPSTAKES; AND (D) WITH A VALID DRIVER'S LICENSE IN THEIR STATE OF RESIDENCE. VOID IN ALL OTHER US TERRITORIES AND POSSESSIONS AND WHERE PROHIBITED BY LAW.</p>
  <table border="1">
    <tr>
      <td class="column_left">
        Introduction
      </td>
      <td class="column_right">
        <ul>
          <li>2013 Tavistock Restaurants Bracket Challenge</li>
          <li>No Cost</li>
          <li>The Administrator</li>
          <li>Eligibility</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="column_left">
        Playing
      </td>
      <td class="column_right">
        <ul>
          <li>Signing Up</li>
          <li>Selection Deadline</li>
          <li>Making Picks</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="column_left">
        Prize
      </td>
      <td class="column_right">
        <ul>
          <li>Grand Prize</li>
          <li>Certain Prize Restrictions</li>
          <li>Drawing/Odds/Winner Notification</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="column_left">
        Legal Disclaimers
      </td>
      <td class="column_right">
        <ul>
          <li>General Conditions</li>
          <li>Rules/Winners Information</li>
          <li>Internet</li>
          <li>Sponsor/Administrator's Mailing Address</li>
          <li>Sweepstakes Entities</li>
        </ul>
      </td>
    </tr>
  </table>
  <h2>
    Introduction
  </h2>
  <h3>
    2013 Tavistock Restaurants Bracket Challenge
  </h3>
  <p>Welcome to the 2013 Tavistock Restaurants Bracket Challenge (the "<span class="bold_underline">Sweepstakes</span>"), which is a competition based on results of the 2013 NCAA<sup>&reg;</sup> Division I Men's College Basketball Tournament (the "<span class="bold_underline">Tournament</span>"). On March 17, 2013, the selection committee will seed the qualifying college basketball teams of the Tournament. Participants will attempt to select the winners of all the games of the Tournament. Participants will earn points by correctly predicting the winning team in the different games of the Tournament. The number of points awarded for each correct pick of a winning team in a game of the Tournament will increase with each round of the Tournament. The exact number of points awarded in this Sweepstakes is set forth in the Making Picks section below. The grand prize (the "<span class="bold_underline">Grand Prize</span>") will be awarded to a randomly-selected Participant (as defined below) who submits the perfect bracket by correctly predicting every winning team in the different games of the Tournament as described in the Prizes section  of these official rules ("<span class="bold_underline">Official Rules</span>"). The secondary grand prize (the “<span class="bold_underline">Secondary Grand Prize</span>”) will be awarded to one randomly-selected Participant who is among the top one percent (1%) of eligible point scorers in this Sweepstakes. The runner-up prizes (the “<span class="bold_underline">Runner-Up Prizes</span>”) will be awarded to two randomly-selected Participants who are among the top five percent (5%) of eligible point scorers in this Sweepstakes.</p>
  <p>Early sign-up will begin on Saturday, March 9, 2013 through March 17, 2013. The brackets will remain open for pick submission until March 20, 2013 at 12:00am EST. The contest will run through the final game of the Tournament scheduled for April 8, 2013 ("<span class="bold_underline">Sweepstakes Period</span>").</p>
  <h3>
    No Cost
  </h3>
  <p>The Sweepstakes is FREE to play. No purchase or entry fee necessary to enter or win.</p>
  <h3>
    The Administrator
  </h3>
  <p>Tavistock Restaurants LLC will serve as the Administrator of Sweepstakes and will be responsible for resolving any disputes that arise regarding violations of the rules.</p>
  <h3>
    Eligibility
  </h3>
  <p>To be eligible to participate in the Sweepstakes, you must be: (a) a Registered User (as defined below); (b) a legal resident of one (1) of the fifty (50) United States; (c) with a valid driver's license in their State of residence; and (d) at least 18 years old or age of majority, whichever is older in state of residence, at the date of entry in this Sweepstakes. Void in all other US Territories and Possessions, and where prohibited by law.</p>
  <p>For purposes of these Official Rules, "<span class="bold_underline">Registered User</span>" means a person who has successfully completed the registration form and has obtained a User Identification ("<span class="bold_underline">ID</span>") on one of the Tavistock Restaurants Bracket Challenge Facebook applications which currently include: Alcatraz Brewing Co. Bracket Challenge, Atlantic Fish Co. Bracket Challenge, Joe’s American Bar & Grill Bracket Challenge, Napa Valley Grille Bracket Challenge, Blackhawk Grille Bracket Challenge, California Cafe Bracket Challenge, Sapporo Bracket Challenge, Timpano Italian Chophouse Bracket Challenge and ZED451 Bracket Challenge.</p>
  <p>If you are not a Registered User, you may visit the Facebook page for any of the participating Tavistock Restaurants listed above to become a Registered User and obtain an ID by completing the registration form. There is no fee or charge for you to become a Registered User.</p>
  <p>Employees of Tavistock Restaurants LLC and its parent companies, affiliates, subsidiaries, advertising, promotion and fulfillment agencies and members of the immediate family or household of each are not eligible to win. Immediate family member or household is defined as a parent, sibling, child or spouse or any person residing in the same household as an employee of the Administrator. Void where prohibited by law. Such excluded employees and/or family members may play, but WILL NOT be eligible to win the Grand Prize. Limit of one entry per Participant.</p>
  <h2>
    Playing
  </h2>
  <h3>
    Signing Up
  </h3>
  <p>Registered Users can sign up any time by visiting one of the Tavistock Restaurants Bracket Challenge Facebook applications prior to the start of the Tournament no later than 12:00am EST on March 20, 2013. Participants must go to the Bracket Challenge application on the Facebook page for one of the participating Tavistock Restaurants and submit an entry as directed. Note that any information you provide is to the Administrator, and not to Facebook.</p>
  <h3>
    Selection Deadline
  </h3>
  <p>Brackets can be filled starting from March 17, 2013, and participant's picks must be submitted by 12:00am EST on March 20, 2013. The Administrator may send a reminder notice between March 14-19, 2013 to Participants who have signed up but haven't yet submitted picks.</p>
  <h3>
    Making Picks
  </h3>
  <p>After you sign up for the Sweepstakes, you will have access to an online brackets page listing 68 of the eligible NCAA<sup>&reg;</sup> Division I Men's College Basketball Tournament teams and their projected match-ups.</p>
  <h2>
    Point Breakdown (per winning pick):
  </h2>
  <h3 id="point_header">
    Point Breakdown:
  </h3>
  <p>1pt: Round 1 ("The First Four")</p>
  <p>1pt: Round 2 ("The Round of 64")</p>
  <p>2pts: Round 3 ("The Round of 32")</p>
  <p>3pts: Round 4 ("Sweet Sixteen")</p>
  <p>4pts: Round 5 ("Elite Eight")</p>
  <p>6pts: Round 6 ("Final Four")</p>
  <p>10pts: Round 7 ("National Championship")</p>
  <h2>
    Prizes
  </h2>
  <h3>
    Grand Prize
  </h3>
  <p>One (1) Grand Prize will be awarded to a randomly-selected Participant who submits the perfect bracket by correctly predicting every winning team in the different games of the Tournament. Grand Prize winner (the "<span class="bold_underline">Grand Prize Winner</span>") will receive a trip to Las Vegas, including two nights’ luxury hotel accommodations, airline tickets and dining credits for up to two people. Approximate Retail Value ("<span class="bold_underline">ARV</span>") of Grand Prize is One Thousand Four Hundred Dollars (US$1,400.00). Winner and guest must travel together on dates designated by Administrator. Minors traveling with Winner must be accompanied by their parent or legal guardian. Exact travel dates to be determined by Administrator subject to availability and other restrictions. Administrator not responsible for flight cancellation/delay. Winner and guest are responsible for any passport and other travel requirements. Any expense or item not specifically listed is the responsibility of the Winner. All Grand Prize details are at the sole discretion of the Administrator. Prize must be redeemed on mutually agreed upon dates between Grand Prize Winner and the Administrator by December 30, 2013 or prize goes void. No cash value and non-transferable. If no Participants submit a perfect bracket by correctly predicting every winning team, there will be no Grand Prize winner and no Grand Prize will be awarded.</p>
  <h3>
    Secondary Grand Prize
  </h3>
  <p>One (1) Secondary Grand Prize will be awarded to a randomly-selected Participant who is among the top one percent (1%) of eligible point scorers in this Sweepstakes. Secondary Grand Prize winner (the "<span class="bold_underline">Secondary Grand Prize Winner</span>") will receive a party for up to six people with $300 food and beverage credits at the participating Tavistock Restaurant location where Secondary Grand Prize winner has registered and submitted a winning bracket. Approximate Retail Value ("<span class="bold_underline">ARV</span>") of Grand Prize is Three Hundred Dollars (US$300.00). State alcohol laws and regulations apply. Gratuities, taxes and any expenses not specifically listed is the responsibility of the Winner. No cash value equivalent will be issued for any unused credits in full or in part. All Secondary Grand Prize details are at the sole discretion of the Administrator. Prize must be redeemed on mutually agreed upon date between Secondary Grand Prize Winner and the Administrator by December 30, 2013 or prize goes void. No cash value and non-transferable.</p>
  <h3>
    Runner-Up Prizes
  </h3>
  <p>Two (2) Runner-Up Prizes will be awarded to two randomly-selected Participants who are among the top five percent (5%) of eligible point scorers in this Sweepstakes. The Runner-Up Prize winners (the “<span class="bold_underline">Runner-Up Prize Winner</span>”) will receive a dining rewards card redeemable for food and non-alcoholic beverages only at the participating Tavistock Restaurant location where Secondary Grand Prize winner has registered and submitted a winning bracket. Approximate Retail Value ("<span class="bold_underline">ARV</span>") of Runner-Up Prize is One Hundred Dollars (US$100.00). State alcohol laws and regulations apply. Gratuities, taxes and any expenses not specifically listed is the responsibility of the Winner. No cash value equivalent will be issued for any unused card in full or in part. All Runner-Up Prize details are at the sole discretion of the Administrator.</p>
  <h3>
    Drawing/Odds/Winner Notification
  </h3>
  <p>Odds of winning the Grand Prize, Secondary Grand Prize and Runner-Up Prizes depend on the number of eligible Participants and the outcome of the 2013 Division I Men's College Basketball Tournament. Potential Prize Winners will be notified by phone and/or by email within a reasonable time after prize drawings, not to exceed thirty (30) days.</p>
  <p>If Prize Winner cannot be contacted within five (5) calendar days of first notification attempt, if Prize or Prize notifications are returned as undeliverable, if Prize Winner rejects his/her Prize or in the event of noncompliance with these Official Rules and requirements, such Prize(s) will be forfeited and an alternate Prize Winner selected via random drawing in accordance with these Official Rules (as applicable). Upon Prize forfeiture, no compensation will be given.</p>
  <h2>
    Legal Disclaimers
  </h2>
  <p>All Participants agree to abide by the terms of these Official Rules and the Legal Disclaimers below, and by the decisions of TAVISTOCK RESTAURANTS LLC, which are final and binding on all matters pertaining to the game.</p>
  <h3>
    General Conditions
  </h3>
  <p>By entering, each Participant accepts and agrees to be bound by these Official Rules and by the decisions of TAVISTOCK RESTAURANTS LLC, which shall be final and binding in all respects. Taxes, if any, are the sole responsibility of the Prize Winner. No substitution or transfer of the Grand Prize, Secondary Grand Prize or Runner-Up Prizes is permitted. TAVISTOCK RESTAURANTS LLC reserves the right to substitute a Prize for one of equal or greater value in the event that the advertised Prize is unavailable.</p>
  <p>Potential Grand Prize Winner will be required to sign and return, within ten (10) days of issuance, the Affidavit of Eligibility and Publicity/Liability Release, except where prohibited by law. Failure to return such documents within the specified time period shall be considered as noncompliance with these Official Rules and such person may be disqualified, with an alternate Prize Winner selected via random drawing in accordance with these Official Rules (as applicable).</p>
  <p>Except where prohibited by law, the Grand Prize Winner's acceptance of the Grand Prize constitutes permission for the Sweepstakes Entities to use Prize Winner's name, photograph, likeness, statements, biographical information, voice, and address (city and state) worldwide and in all forms of media, in perpetuity, without further compensation. Participants agree to Sweepstakes Entities use of their names and likeness for advertising and publicity purposes, in any media now known or later developed, without additional compensation, unless prohibited by law.</p>
  <p>All federal, state, local, and provincial laws and regulations apply. The Sweepstakes Entities are not responsible for lost, late or misdirected on-line entries or transactions, for incorrect, inaccurate or incomplete entry information whether caused by a Participant, equipment, or technical malfunction or for any human error, technical error or malfunctions. TAVISTOCK RESTAURANTS LLC reserves the right to halt or modify the Sweepstakes at any time during the Sweepstakes Period if events beyond their control compromise the Sweepstakes fairness or integrity. In the event that a scheduled game is canceled or preempted for any reason, no points will be awarded for that game.</p>
  <p>The Sweepstakes Entities are not responsible for typographical or other human or technical errors in the offer or administration of this Sweepstakes, including but not limited to errors in advertising, the Official Rules, the selection and announcement of the Prize Winner or the distribution of the Grand Prize.</p>
  <p>TAVISTOCK RESTAURANTS LLC, in its sole discretion, may disqualify any Participant from participating in the Sweepstakes, refuse to award points or a Prize, and/or require the return of a Prize, if Participant engages in any conduct TAVISTOCK RESTAURANTS LLC deems to be improper, unfair or otherwise adverse to the operation of the Sweepstakes or detrimental to other Participants. Such improper conduct includes, but is not limited to, falsifying personal information required during Sweepstakes registration or Prize claim, violating any term or condition stated herein, accumulating points for a Prize through methods such as automated computer scripts or other programming techniques, allowing others to use the Participant's personal information for the purpose of accumulating points for a Prize, tampering with TAVISTOCK RESTAURANTS LLC's administration of this promotion, or intentionally trying to defraud, reverse engineer, disassemble, decompile or otherwise tamper with the computer programs on this Web site. Participant further acknowledges that the forfeiture of a  Prize and/or return of a Prize shall in no way prevent TAVISTOCK RESTAURANTS LLC from pursuing other avenues of recourse such as criminal or civil proceedings in connection with such conduct.</p>
  <p>TAVISTOCK RESTAURANTS LLC reserves the right to modify these Official Rules for clarification purposes without materially affecting the terms and conditions of the Sweepstakes. This Sweepstakes is not affiliated with or endorsed by the NCAA<sup>&reg;</sup> or any NCAA<sup>&reg;</sup> team. This is a game designed to increase consumer awareness of and interest in the Tavistock Restaurant Group.</p>
  <p>This Sweepstakes may not be used for any form of gambling.</p>
  <h3>
    Rules/Winner Information
  </h3>
  <p>For a Prize Winners list, send a self-addressed stamped envelope for receipt by April 30, 2013 to "Winner's list: 2013 Tavistock Restaurants LLC Bracket Challenge," c/o Tavistock Restaurants LLC., 6475 Christie Avenue, Suite 300 Emeryville, CA 94608.</p>
  <p>For a copy of the Official Rules send a self addressed stamped envelope to the above address marked "Official Rules: 2013 Tavistock Restaurants LLC Bracket Challenge," for receipt by April 14, 2013.</p>
  <h3>
    Internet
  </h3>
  <p>If for any reason the Internet portion of the program is not capable of running as planned, including infection by computer virus, bugs, tampering, unauthorized intervention, fraud, technical failures, or any other causes beyond the control of TAVISTOCK RESTAURANTS LLC which corrupt or affect the administration, security, fairness, integrity, or proper conduct of this Sweepstakes, TAVISTOCK RESTAURANTS LLC reserves the right, at its sole discretion, to disqualify any individual who tampers with the entry process, and to cancel, terminate, modify or suspend the Sweepstakes. In such event, TAVISTOCK RESTAURANTS LLC further reserves the right to select Prize Winners from all eligible entries received prior to and/or after (if appropriate) the action taken by TAVISTOCK RESTAURANTS LLC. The Sweepstakes Entities assume no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, entries or transactions. The Sweepstakes Entities are not responsible for any problems or technical malfunction of any telephone network or lines, computer on-line systems, servers, or providers, computer equipment, software, failure of any e-mail entry or transaction to be received on account of technical problems or traffic congestion on the Internet or at any Web site, or any combination thereof, including any injury or damage to Participant's or any other person's computer related to or resulting from participation or downloading any materials in this Sweepstakes.</p>
  <h3>
    Lost or Corrupted Entries
  </h3>
  <p>The Sweepstakes Entities, and their parents, affiliated and subsidiary companies and advertising and promotion agencies and their respective directors, officers, employees, representatives and agents (collectively, "<span class="bold_underline">Released Entities</span>"), assume no liability and are not responsible for, and you hereby forever waive any rights to any claim in connection with, lost, late, incomplete, corrupted, stolen, misdirected, illegible or postage due entries or mail if applicable; or for any computer, telephone, cable, network, satellite, electronic or Internet hardware or software malfunctions, unauthorized human intervention, or the incorrect or inaccurate capture of entry or other information, or the failure to capture any such information. The Released Entities are not responsible for any incorrect or inaccurate information, whether caused by registration information submitted by end users or tampering, hacking, or by any of the equipment or programming associated with or utilized in this Sweepstakes, and assume no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to the Sweepstakes.</p>
  <h3>
    Damaged Property
  </h3>
  <p>The Released Entities assume no liability and are not responsible for, and all Participants hereby forever waive any rights to any claim in connection with, injury or damage to any Participants or to any other person's computer or property related to or resulting from participating in this Sweepstakes or downloading materials from this Sweepstakes.</p>
  <p><span class="bold">CAUTION: ANY ATTEMPT BY A PARTICIPANT TO DELIBERATELY DAMAGE ANY WEB SITE OR UNDERMINE THE LEGITIMATE OPERATION OF THE GAME IS A VIOLATION OF CRIMINAL AND CIVIL LAWS AND SHOULD SUCH AN ATTEMPT BE MADE, TAVISTOCK RESTAURANTS LLC RESERVES THE RIGHT TO SEEK DAMAGES FROM ANY SUCH CONTESTANT TO THE FULLEST EXTENT PERMITTED BY LAW.</span></p>
  <p>In the event of a dispute, entries made by Internet will be declared made by the authorized account holder of the e-mail address submitted at time of entry. "Authorized account holder" is defined as the natural person who is assigned to an e-mail address by an Internet access provider, on-line service provider or other organization (e.g., business, educational institution, etc.) that is responsible for assigning e-mail addresses for the domain associated with the submitted e-mail address.</p>
  <p>Any entry that is incomplete, late, or does not include a validly issued User ID will be disqualified.</p>
  <p>In the event that any legal or regulatory authority challenges the Sweepstakes, TAVISTOCK RESTAURANTS LLC reserves the right to discontinue or modify the Sweepstakes, or to disqualify Participants residing in the affected geographic areas. In such event, the Sweepstakes Entities shall have no liability to any Participants who are disqualified due to such an action.</p>
  <h3>
    Sweepstakes Errors
  </h3>
  <p>The Released Entities, assume no liability and are not responsible for, and you hereby forever waive any rights to any claim in connection with, errors and/or ambiguity: (a) in the Sweepstakes; (b) in any related advertising or promotions of this Sweepstakes; and/or (c) in these Official Rules including but not limited to errors in advertising, the Official Rules, the selection and announcement of the Grand Prize Winner or the distribution of the Grand Prize. In the event of any ambiguity(s) or error(s) in these Official Rules, Administrators reserve the right to modify these Official Rules for clarification purposes or to correct any such ambiguity or error(s) without materially affecting the terms and conditions of the Sweepstakes.</p>
  <h3>
    Prize Winner and Grand Prize
  </h3>
  <p>The Released Entities assume no liability and are not responsible for, and you hereby forever waive any rights to any claim in connection with, the selection and announcement of the Prize Winner, the distribution of the Grand Prize, the acceptance/possession and/or use/misuse of any part of a Prize and/or any injury or damage to any Participant's or third person's property related to or resulting from any part of a Prize or any part of this Sweepstakes.</p>
  <h3>
    Release and Indemnity
  </h3>
  <p>Each Participant in the Sweepstakes, including, without limitation, the Prize Winners, hereby releases and agrees to hold harmless the Released Entities from any and all liability for any injuries, loss or damage of any kind to person, including death, and property, arising in whole or in part, directly or indirectly, from acceptance, possession, use or misuse of a  Prize, participation in this Sweepstakes and participation in any activity related to this Sweepstakes and for any claims based on publicity rights, defamation or invasion of privacy and merchandise delivery. Released Entities are not responsible if Sweepstakes cannot take place or if a Prize cannot be awarded due to travel cancellations, delays or interruptions due to acts of God, acts of war, natural disasters, weather or acts of terrorism.</p>
  <h3>
    Limitation of Liability and Disclaimer of Warranties
  </h3>
  <p>IN NO EVENT WILL THE SWEEPSTAKES ENTITIES AND/OR THEIR PARENTS, AFFILIATES, SUBSIDIARIES AND RELATED COMPANIES, THEIR ADVERTISING OR PROMOTION AGENCIES OR THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, REPRESENTATIVES AND AGENTS, BE RESPONSIBLE OR LIABLE FOR ANY DAMAGES OR LOSSES OF ANY KIND, INCLUDING DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF YOUR ACCESS TO AND USE OF THE SWEEPSTAKES, DOWNLOADING FROM AND/OR PRINTING MATERIAL DOWNLOADED FROM SWEEPSTAKES. IN NO EVENT SHALL THE SWEEPSTAKES ENTITIES' TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, OR CAUSES OF ACTION EXCEED $100. WITHOUT LIMITING THE FOREGOING, EVERYTHING ON THE SWEEPSTAKES INCLUDING THE PRIZES IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. SOME JURISDICTIONS MAY NOT ALLOW THE LIMITATIONS OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES OR EXCLUSION OF IMPLIED WARRANTIES SO SOME OF THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU. CHECK YOUR LOCAL LAWS FOR ANY RESTRICTIONS OR LIMITATIONS REGARDING THESE LIMITATIONS OR EXCLUSIONS.</p>
  <h3>
    Binding Arbitration
  </h3>
  <p>The parties waive all rights to trial in any action or proceeding instituted in connection with these Official Rules, including, without limitation, the Sweepstakes. Any controversy or claim arising out of or relating to these Official Rules and/or the Sweepstakes shall be settled by binding arbitration in accordance with the commercial arbitration rules of the American Arbitration Association. Any such controversy or claim shall be arbitrated on an individual basis, and shall not be consolidated in any arbitration with any claim or controversy of any other party. The arbitration shall be conducted in the State of California, in the City of Emeryville.</p>
  <h3>
    Governing Law and Jurisdiction
  </h3>
  <p>THESE OFFICIAL RULES AND THE INTERPRETATION OF ITS TERMS SHALL BE GOVERNED BY AND CONSTRUED IN ACCORDANCE WITH THE LAWS OF THE STATE OF CALIFORNIA WITHOUT REGARD TO ITS CONFLICTS OF LAWS RULES. For any matters which are not subject to arbitration as set forth in these Official Rules and/or in connection with the entering of any judgment on an arbitration award in connection with these Official Rules and/or the Sweepstakes, the parties irrevocably submit and consent to the exclusive jurisdiction and venue of the California state and federal courts located in the County of California and State of California. The parties agree not to raise the defense of forum non-conveniences.</p>
  <h3>
    Trademark Ownership
  </h3>
  <p>NCAA<sup>&reg;</sup>, SWEET SIXTEEN<sup>&reg;</sup>, ELITE EIGHT<sup>&reg;</sup>, and FINAL FOUR<sup>&reg;</sup> are trademarks of the National Collegiate Athletic Association. The NCAA<sup>&reg;</sup> is not a sponsor of this promotion.</p>
  <h3>
    Sponsor/Prize Provider/Administrator's Mailing Address
  </h3>
  <p>Tavistock Restaurants LLC. 6475 Christie Ave., Suite 300, Emeryville, CA 94608</p>
</div>



