{{view App.NavigationView}}

<div id="rules_list">
  <h2>RULES</h2>
  <ul>
    <li><p>1. You do not talk about the Bracket Challenge.</p></li>
    <li><p>2. You <span id="italicize">do not</span> talk about the Bracket Challenge.</p></li>
    <li><p>3. If someone says, "Stop," or goes limp or taps out, the Bracket Challenge is over.</p></li>
    <li><p>4. Only two guys to a bracket.</p></li>
    <li><p>5. One bracket at a time.</p></li>
    <li><p>6. No shirts; no shoes.</p></li>
    <li><p>7. Bracket Challenges will go on as long as they have to.</p></li>
    <li><p>8. If this is your first night at the Bracket Challenge, you <span class="italicize">have</span> to fill out a bracket.</p></li>
  </ul>
</div>