<ol>
  <li {{bindAttr class="game.teamOneWon:winner game.teamOne:chosen :team_one"}}>
    {{ formatTeamName game.teamOne }}
  </li>
  <li {{bindAttr class="game.teamTwoWon:winner game.teamTwo:chosen :team_two"}}>
    {{ formatTeamName game.teamTwo }}
  </li>
</ol>