<ul>
  {{#each users}}
    <li {{ bindAttr data-user-id="id" }}>
      <span class="score">{{ score }}</span>
      <div class="photo"></div>
      <span class="name">{{ name }}</span>
      <div class="clearboth"></div>
    </li>
  {{/each}}
</ul>