{{view App.NavigationView}}

<section id="leaderboard">
  <nav>
    <ul>
      {{#if currentUser}}
        <li>{{#linkTo "leaderboard.you"}}You{{/linkTo}}</li>
        <li>{{#linkTo "leaderboard.friends"}}Friends{{/linkTo}}</li>
      {{/if}}
      <li>{{#linkTo "leaderboard.top"}}Top 100{{/linkTo}}</li>
    </ul>
  </nav>
  {{ outlet }}
</section>


<div id="right">
  <section id="restaurant">
    <a href="www.google.com" target="_blank">Restaurant Logo</a>
  </section>

  <section id="info">
    {{#if currentUser}}
      user is logged in
    {{else}}
      user is NOT logged in
    {{/if}}
  </section>
</div>

<div class="clearboth"></div>