{{view App.NavigationView}}

<section id="leaderboard">
  <nav>
    <ul>
      <li>{{#linkTo "leaderboard.you"}}You{{/linkTo}}</li>
      <li>{{#linkTo "leaderboard.friends"}}Friends{{/linkTo}}</li>
      <li>{{#linkTo "leaderboard.top"}}Top 10{{/linkTo}}</li>
    </ul>
  </nav>
  {{ outlet }}
</section>

<div class="clearboth"></div>