{{view App.NavigationView}}

<section id="leaderboard">
  <nav>
    <ul>
      {{#if currentUser}}
        <li>{{#linkTo "leaderboard.you"}}You{{/linkTo}}</li>
        <li>{{#linkTo "leaderboard.friends"}}Friends{{/linkTo}}</li>
      {{/if}}
      <li>{{#linkTo "leaderboard.top"}}Top 10{{/linkTo}}</li>
    </ul>
  </nav>
  {{ outlet }}
</section>

<div class="clearboth"></div>