<ul class="rankings">
  {{#each users}}
    <li {{ bindAttr data-user-id="id" }}>
      <span class="rank">#{{ rank }}</span>
      <span class="score">{{ score }}</span>
      <span class="name">{{ abbreviatedName }}</span>
      <div class="clearboth"></div>
    </li>
  {{/each}}
</ul>