#bracket_page {
  $teamHeight: 25px;
  $gameHeight: ($teamHeight * 2) + 2; // 2px for top + bottom borders
  $gameWidth: 100px;
  $spaceBetweenGames: 20px;
  $regionWidth: ($gameWidth * 4) + 8 + 20 - 15; // 8px game borders, 20px extra, -40px round margins,
  padding: 0 20px 50px;

  #regions {
    margin: 0 auto;
    width: $regionWidth * 2;
  }

  .region {
    display: inline-block;
    width: $regionWidth;

    &#region_1, &#region_2 {
      float: left;

      .round {
        float: left;

        &.round_2 { margin: 0 25px 0 0; }
        &.round_3 { margin: 0; }
        &.round_4 { margin: 0 0 0 -15px; }
        &.round_5 { margin: 0 0 0 -25px; }
      }
    }

    &#region_3, &#region_4 {
      float: right;

      .round {
        float: right;

        &.round_2 { margin: 0 0 0 25px; }
        &.round_3 { margin: 0; }
        &.round_4 { margin: 0 -15px 0 0; }
        &.round_5 { margin: 0 -25px 0 0; }
      }
    }

    .round {
      $round3TopPadding: ((($gameHeight * 2) + $spaceBetweenGames) - $gameHeight) / 2;
      $round3MarginBottom: ($round3TopPadding * 2) + $spaceBetweenGames;

      $round4TopPadding: $round3TopPadding + ((($gameHeight * 2) + $round3MarginBottom) - $gameHeight) / 2;
      $round4MarginBottom: ($round4TopPadding * 2) + $spaceBetweenGames;

      $round5TopPadding: $round4TopPadding + ((($gameHeight * 2) + $round4MarginBottom) - $gameHeight) / 2;
      $round5MarginBottom: ($round5TopPadding * 2) + $spaceBetweenGames;

      &.round_2 {

        .game:not(:last-child) {
          margin: 0 0 $spaceBetweenGames;
        }
      }

      &.round_3 {
        padding: $round3TopPadding 0 0;

        .game:not(:last-child) {
          margin: 0 0 $round3MarginBottom;
        }
      }

      &.round_4 {
        padding: $round4TopPadding 0 0;

        .game:not(:last-child) {
          margin: 0 0 $round4MarginBottom;
        }
      }

      &.round_5 {
        padding: $round5TopPadding 0 0;

        .game:not(:last-child) {
          margin: 0 0 $round5MarginBottom;
        }
      }
    }
  }

  #semis_finals {
    $padding: 20px;
    border: 1px solid black;
    display: inline-block;
    padding: 15px $padding;

    .game {
      display: inline-block;
    }

    .semi_final {

    }

    .championship {
      margin: 0 $padding;
    }
  }

  .game {
    $darkGreen: #006400;
    $lightGreen: #caff9c;
    @include border-radius(3px);
    border: 1px solid black;
    position: relative; // so we can absolutely-position the score
    width: $gameWidth;

    &.todo {
      border: 1px solid red;
    }

    &.points_awarded {

      .score {
        display: block;
      }

      li.winner {
        background-color: #d2ffb6;
        color: $darkGreen;
      }
    }

    li {
      $extraPushTowardCenter: 3px;
      height: $teamHeight - $extraPushTowardCenter;
      font-size: 11px;
      line-height: $teamHeight - $extraPushTowardCenter;
      overflow: hidden;
      padding: 0 5px;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.team_one {
        padding-top: $extraPushTowardCenter;
      }

      &.team_two {
        padding-bottom: $extraPushTowardCenter;
      }

      &.chosen {
        cursor: pointer;

        &:hover {
          background-color: #f0f0f0;
        }
      }

      &.winner {
        font-weight: bold;
      }
    }

    .score {
      $dimensions: 32px;
      @include border-radius(50px);
      background-color: $lightGreen;
      border-color: $darkGreen;
      border-style: solid;
      border-width: 1px 1px 2px;
      display: none;
      font-weight: bold;
      height: $dimensions;
      line-height: $dimensions;
      right: -($dimensions / 2);
      position: absolute;
      top: -($dimensions / 2);
      width: $dimensions;
    }
  }
}