#bracket_page {
  $teamHeight: 25px;
  $gameHeight: ($teamHeight * 2) + 4 + 2; // 4px for borders + 2px for gap between games
  $gameWidth: 100px;
  $spaceBetweenGames: 20px;
  $regionWidth: ($gameWidth * 4) + 8 + 20 - 15; // 8px game borders, 20px extra, -40px round margins,
  padding: 0 20px 50px;

  /******************/
  /*   First Four   */
  /******************/

  #first_four {
    display: inline-block;
    margin: 30px 0 20px;

    .game {
      display: inline-block;
      margin: 0 7px 0 0;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  /***************/
  /*   Regions   */
  /***************/

  .region {
    display: inline-block;
    width: $regionWidth;

    &#region_1 {
      background-image: url("/assets/backgrounds/bracket_lines_left.png");
      background-position: 102px 27px;
      background-repeat: no-repeat;
    }

    &#region_2 {
      background-image: url("/assets/backgrounds/bracket_lines_left.png");
      background-position: 102px 27px;
      background-repeat: no-repeat;
    }

    &#region_3 {
      background-image: url("/assets/backgrounds/bracket_lines_right.png");
      background-position: 78px 27px;
      background-repeat: no-repeat;
    }

    &#region_4 {
      background-image: url("/assets/backgrounds/bracket_lines_right.png");
      background-position: 78px 27px;
      background-repeat: no-repeat;
    }

    &#region_1, &#region_2 {
      float: left;

      .round {
        float: left;

        &.round_2 { margin: 0 25px 0 0; }
        &.round_3 { margin: 0; }
        &.round_4 { margin: 0 0 0 -15px; }
        &.round_5 { margin: 0 0 0 -25px; }
      }
    }

    &#region_3, &#region_4 {
      float: right;

      .round {
        float: right;

        &.round_2 { margin: 0 0 0 25px; }
        &.round_3 { margin: 0; }
        &.round_4 { margin: 0 -15px 0 0; }
        &.round_5 { margin: 0 -25px 0 0; }
      }
    }

    .round {
      $round3TopPadding: ((($gameHeight * 2) + $spaceBetweenGames) - $gameHeight) / 2;
      $round3MarginBottom: ($round3TopPadding * 2) + $spaceBetweenGames;

      $round4TopPadding: $round3TopPadding + ((($gameHeight * 2) + $round3MarginBottom) - $gameHeight) / 2;
      $round4MarginBottom: ($round4TopPadding * 2) + $spaceBetweenGames;

      $round5TopPadding: $round4TopPadding + ((($gameHeight * 2) + $round4MarginBottom) - $gameHeight) / 2;
      $round5MarginBottom: ($round5TopPadding * 2) + $spaceBetweenGames;

      &.round_2 {

        .game:not(:last-of-type) {
          margin: 0 0 $spaceBetweenGames;
        }
      }

      &.round_3 {
        padding: $round3TopPadding 0 0;

        .game:not(:last-of-type) {
          margin: 0 0 $round3MarginBottom;
        }
      }

      &.round_4 {
        padding: $round4TopPadding 0 0;

        .game:not(:last-of-type) {
          margin: 0 0 $round4MarginBottom;
        }
      }

      &.round_5 {
        padding: $round5TopPadding 0 0;

        .game:not(:last-of-type) {
          margin: 0 0 $round5MarginBottom;
        }
      }
    }
  }

  /******************************/
  /*   Finals and Semi-Finals   */
  /******************************/

  #semis_finals {
    $padding: 20px;
    background-color: rgba(0, 0, 0, 0.30);
    display: inline-block;
    padding: 15px $padding;

    .game {
      display: inline-block;

      // semi-finals
      &:nth-of-type(1), &:nth-of-type(3) {
      }

      // championship
      &:nth-of-type(2) {
        margin: 0 $padding;
      }
    }
  }

  /***********************/
  /*   Individual Game   */
  /***********************/

  .game {
    $darkGreen: #006400;
    $lightGreen: #caff9c;
    border: 2px solid transparent;
    color: #ffffff;
    position: relative; // so we can absolutely-position the score
    width: $gameWidth;

    &.todo {
      border: 2px solid $darkRed;
    }

    &.points_awarded {
      .score {
        display: block;
      }

      li.winner {
        background-color: #d2ffb6;
        color: $darkGreen;
      }
    }

    .team {
      background-color: rgba(0, 0, 0, 0.6);
      border-left: 3px solid transparent;
      color: rgba(255,255,255,0.7);
      height: $teamHeight;
      font-size: 11px;
      line-height: $teamHeight;
      overflow: hidden;
      padding: 0 5px;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.winner {
        border-left: 3px solid $darkRed;
        color: white;
        text-shadow: 0 0 5px rgba(255,255,255,0.7);
      }

      &.chosen {
        cursor: pointer;

        &:hover {
          background-color: $darkRed;
        }
      }

      &.team_one {
        margin: 0 0 2px 0;
      }
    }

    .score {
      $dimensions: 32px;
      @include border-radius(50px);
      background-color: $lightGreen;
      border-color: $darkGreen;
      border-style: solid;
      border-width: 1px 1px 2px;
      display: none;
      font-weight: bold;
      height: $dimensions;
      line-height: $dimensions;
      right: -($dimensions / 2);
      position: absolute;
      top: -($dimensions / 2);
      width: $dimensions;
    }
  }
}