#leaderboard_page {
  padding: 0 50px 50px;

  #navigation {
    margin-bottom: 40px;
  }

  #leaderboard {
    float: left;

    nav {
      margin: 0 0 5px;

      ul {
        overflow: hidden; // to clear floated <li> children

        li {
          float: left;

          a {
            border: 1px solid black;
            display: inline-block;
            padding: 10px 20px;

            &.active {
              background-color: $red;
              color: #ffffff;
            }
          }
        }
      }
    }

    .rankings {
      width: 360px;

      li {
        $rowHeight: 50px;
        border: 1px solid black;
        line-height: $rowHeight;

        .rank {
          float: left;
          font-size: 11px;
          font-weight: bold;
          line-height: inherit;
          width: 50px;
        }

        .score {
          color: $red;
          float: left;
          font-size: 14px;
          font-weight: bold;
          line-height: inherit;
          width: 45px;
        }

        .name {
          float: left;
          line-height: inherit;
          padding: 0 10px
        }
      }
    }
  }

  #right {
    float: right;

    #restaurant {
      border: 1px solid black;
      height: 100px;
      margin: 0 0 35px;
      width: 300px;
    }

    #info {
      border: 1px solid black;
      height: 250px;
      width: 300px;
    }
  }
}