#navigation {
  display: inline-block; // so it won't be 100% width
  margin: 0 auto 50px;

  ul {
    overflow: hidden; // to clear floated <li> children

    li {
      float: left;

      a {
        border: 1px solid black;
        display: inline-block;
        font-size: 13px;
        height: 50px;
        line-height: 50px;
        padding: 0 30px;
      }
    }
  }
}