#bracket_page {
  $teamHeight: 25px;
  $gameHeight: ($teamHeight * 2) + 4 + 2; // 4px for borders + 2px for gap between games
  $gameWidth: 100px;
  $spaceBetweenGames: 20px;
  $regionWidth: (($gameWidth + 4) * 4) + 20 - 15 - 45 + 8; // game width w/ borders + 20px round 3 margin,
                                                           // - 15px round 4 margin - 45px round 5 margin + 8px safety
  padding: 0 0 50px;

  /**************/
  /*   Status   */
  /**************/

  #status {
    line-height: 1.4em;
    font-family: $robotoFontFamily;
    font-size: 18px;
    height: 0;
    overflow: visible;
    position: relative;
    top: -5px;
  }

  /***************/
  /*   Bracket   */
  /***************/

  #bracket {
    margin: 0 auto;
    padding: 0 0 100px;
    width: 770px;
  }

  #loading_bracket {
    display: inline-block;
    font-family: $robotoFontFamily;
    margin: 0 auto;
    padding: 50px 0;
    text-align: left;
    width: 280px;

    h2 {
      background-color: $red;
      display: inline-block;
      font-size: 28px;
      margin: 0 0 10px;
      padding: 12px 14px;
    }

    h3 {
      background-color: rgba(0, 0, 0, 0.3);
      display: inline-block;
      font-size: 20px;
      padding: 12px 14px;
    }
  }

  /******************/
  /*   First Four   */
  /******************/

  #first_four {
    display: inline-block;
    margin: 0 0 40px;
    position: relative;

    h2 {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      font-family: $robotoFontFamily;
      font-size: 23px;
      line-height: 56px;
      margin: 0 20px 0 0;
      vertical-align: top;
    }

    .game {
      display: inline-block;
      margin: 0 7px 0 0;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  /***************/
  /*   Regions   */
  /***************/

  .region {
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: $regionWidth;

    .region_name {
      color: rgba(255, 255, 255, 0.7);
      font-family: $robotoFontFamily;
      font-size: 23px;
      position: absolute;
      margin-top: -15px;
      top: 50%;
    }

    &#region_1 #region_south { left: 170px; }
    &#region_2 #region_west { left: 176px; }
    &#region_3 #region_east { right: 180px; }
    &#region_4 #region_midwest { right: 160px; }

    &#region_1, &#region_2 {
      background-image: image-url("bracket_lines/bracket_lines_left.png");
      background-position: top left;

      float: left;

      .round {
        float: left;

        &.round_2 { margin: 0; }
        &.round_3 { margin: 0 0 0 20px; }
        &.round_4 { margin: 0 0 0 -15px; }
        &.round_5 { margin: 0 0 0 -45px; }
      }
    }

    &#region_3, &#region_4 {
      background-image: image-url("bracket_lines/bracket_lines_right.png");
      background-position: top right;
      float: right;

      .round {
        float: right;

        &.round_2 { margin: 0; }
        &.round_3 { margin: 0 20px 0 0; }
        &.round_4 { margin: 0 -15px 0 0; }
        &.round_5 { margin: 0 -45px 0 0; }
      }
    }

    .round {
      $round3TopPadding: ((($gameHeight * 2) + $spaceBetweenGames) - $gameHeight) / 2;
      $round3MarginBottom: ($round3TopPadding * 2) + $spaceBetweenGames;

      $round4TopPadding: $round3TopPadding + ((($gameHeight * 2) + $round3MarginBottom) - $gameHeight) / 2;
      $round4MarginBottom: ($round4TopPadding * 2) + $spaceBetweenGames;

      $round5TopPadding: $round4TopPadding + ((($gameHeight * 2) + $round4MarginBottom) - $gameHeight) / 2;
      $round5MarginBottom: ($round5TopPadding * 2) + $spaceBetweenGames;

      &.round_2 {

        .game:not(:last-of-type) {
          margin: 0 0 $spaceBetweenGames;
        }
      }

      &.round_3 {
        padding: $round3TopPadding 0 0;

        .game:not(:last-of-type) {
          margin: 0 0 $round3MarginBottom;
        }
      }

      &.round_4 {
        padding: $round4TopPadding 0 0;

        .game:not(:last-of-type) {
          margin: 0 0 $round4MarginBottom;
        }
      }

      &.round_5 {
        padding: $round5TopPadding 0 0;

        .game:not(:last-of-type) {
          margin: 0 0 $round5MarginBottom;
        }
      }
    }
  }

  /******************************/
  /*   Finals and Semi-Finals   */
  /******************************/

  #semis_finals {
    $padding: 20px;
    background-color: rgba(0, 0, 0, 0.30);
    display: inline-block;
    padding: 15px $padding;
    position: relative;

    h2 {
      bottom: 125px;
      color: rgba(255, 255, 255, 0.7);
      font-family: $robotoFontFamily;
      font-size: 23px;
      left: 133px;
      position: absolute;
    }

    .game {
      display: inline-block;

      // semi-finals
      &:nth-of-type(1), &:nth-of-type(3) {
      }

      // championship
      &:nth-of-type(2) {
        margin: 0 $padding;
      }
    }
  }

  /***********************/
  /*   Individual Game   */
  /***********************/

  .game {
    $darkGreen: #006400;
    $lightGreen: #caff9c;
    border: 2px solid transparent;
    color: #ffffff;
    font-family: $robotoFontFamily;
    font-size: 14px;
    position: relative; // so we can absolutely-position the score
    width: $gameWidth;

    &.todo {
      border: 2px solid transparentize($red, 0.1);

      .team {

        &.team_one {
          border-bottom: 2px solid transparentize($red, 0.1);
          margin: 0;
        }
      }
    }

    &.points_awarded {

      .score {
        display: block;
      }

      li.winner {
        background-color: #d2ffb6;
        color: $darkGreen;
      }
    }

    .team {
      background-color: rgba(0, 0, 0, 0.6);
      color: rgba(255, 255, 255, 0.7);
      height: $teamHeight;
      line-height: $teamHeight;
      overflow: hidden;
      padding: 0 5px 0 8px;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.winner {
        border-left: 3px solid $red;
        color: #ffffff;
        padding: 0 5px;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
      }

      &.chosen {
        cursor: pointer;

        &:hover {
          background-color: $red;
          color: #ffffff;
        }
      }

      &.team_one {
        margin: 0 0 2px 0;
      }

      .rank {
        display: inline-block;
        font-size: 9px;
        margin: 0 3px 0 0;
        position: relative;
        border-top-left-radius: 1px;
        vertical-align: top;
      }
    }

    .score {
      $dimensions: 32px;
      @include border-radius(50px);
      background-color: $lightGreen;
      border-color: $darkGreen;
      border-style: solid;
      border-width: 1px 1px 2px;
      display: none;
      font-weight: bold;
      height: $dimensions;
      line-height: $dimensions;
      right: -($dimensions / 2);
      position: absolute;
      top: -($dimensions / 2);
      width: $dimensions;
    }
  }
}