#index_page {
  padding: 80px;

  header {

    h1, h2 {
      display: inline-block;
      font-family: $robotoFontFamily;
      font-size: 30px;
      line-height: 1.2em;
    }
  }

  nav {
    display: block;
    font-family: $robotoFontFamily;
    margin: 80px 0 0 0;

    li {
      margin: 0 10px 0 0;

      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }

      &:last-child {
        margin: 0 3.5px 0 0;
      }

      &.link {
        background-position: center 37px;
        background-repeat: no-repeat;
      }

      &#bracket_link {
        background-image: image-url("icons/icon_bracket.png");
        display: inline-block;
        margin: 0 0 10px;

        a {
          border: 2px solid #ffffff;
          display: block;
          font-size: 16px;
          height: 48px;
          margin: 0 auto;
          padding: 142px 0 0;
          width: 396px;
        }
      }

      &#leaderboard_link {
        background-image: image-url("icons/icon_leaderboard.png");
        background-position: center 37px;
        display: inline-block;
      }

      &#prizes_link {
        background-image: image-url("icons/icon_prizes.png");
        background-position: center 37px;
        display: inline-block;
      }

      a {
        border: 2px solid #ffffff;
        display: block;
        font-size: 16px;
        height: 48px;
        padding: 142px 0 0;
        width: 190px;
      }
    }
  }

  #news {
    display: inline-block;
    font-family: $robotoFontFamily;
    margin: 20px 0 0 0;
    width: 403px;

    #head {
      margin: 30px 0 0 0;
      text-align: left;

      h2 {
        background-color: $red;
        display: inline-block;
        color: #ffffff;
        font-size: 15px;
        padding: 7px 12px;
      }
    }

    #info {
      height: 250px;
      margin: 15px 0 0 0;
      text-align: left;
    }
  }
}