#leaderboard_page {
  font-family: $robotoFontFamily;
  font-size: 14px;
  padding: 0 0 50px;

  #navigation {
    margin-bottom: 40px;
  }

  #leaderboard {
    width: 360px;
    margin: 0 auto;

    nav {
      margin: 0 0 10px;

      ul {
        overflow: hidden; // to clear floated <li> children

        li {
          background-color: rgba(0, 0, 0, 0.6);
          float: left;
          margin: 0 5px 0 0;

          a {
            color: rgba(255, 255, 255, 0.8);
            display: inline-block;
            padding: 10px 20px;
            
            &:hover {
              color: #ffffff;
            }

            &.active {
              background-color: $red;
              color: #ffffff;
            }
          }
        }
      }
    }

    .rankings {
      width: 360px;

      li {
        $rowHeight: 50px;
        background-color: rgba(0, 0, 0, 0.6);
        line-height: $rowHeight;
        margin: 0 0 5px;

        .name {
          float: left;
          line-height: inherit;
          padding: 0 10px
        }

        .rank {
          float: left;
          font-size: 12px;
          font-weight: bold;
          line-height: inherit;
          width: 50px;
        }

        .score {
          color: $red;
          float: left;
          font-size: 15px;
          font-weight: bold;
          line-height: inherit;
          width: 45px;
        }

        &#invite_friends {
          background-color: rgba(255, 255, 255, 0.1);
          border: 6px solid rgba(0, 0, 0, 0.7);
          display: none;
          padding: 15px;

          p {
            font-size: 18px;
            line-height: 1.4em;
            margin: 0 0 15px;
            vertical-align: top;
          }

          button {
            @include box-shadow(5px 5px 10px rgba(0,0,0,0.5));
            background-color: $red;
            color: #ffffff;
            font-size: 18px;
            height: 42px;
            line-height: 42px;
            padding: 0 15px;

            &:hover {
              background-color: darken($red, 2%);
            }

            &:active {
              @include box-shadow(2px 2px 15px rgba(0,0,0,0.6));
              left: 1px;
              position: relative;
              top: 1px;
            }
          }
        }
      }
    }
  }
}