<!DOCTYPE html>
<html>
<head>
  <title>Bracket Challenge</title>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render :partial => "pages/facebook_javascript_sdk" %>
</body>
</html>